---
http_interactions:
- request:
    method: get
    uri: http://www.feefo.com/feefo/xmlfeed.jsp?json=true&limit=9&logon=www.sealinktravelgroup.com.au/SeaLink%20KI&mode=both&vendorref=HTCC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"FEEDBACKLIST\": {\n    \"FEEDBACK\": [\n        {\n            \"ADDITIONALITEMS\":
        {\"ITEM\": \"Seal Bay Discovery\"},\n            \"COUNT\": 1,\n            \"CUSTOMERCOMMENT\":
        \"Service rating : nice driver and guider, view places are also wonderful.<br/>Product
        : nice driver and guider, view places are also wonderful.\",\n            \"DATE\":
        \"08-Jun-2015\",\n            \"DESCRIPTION\": \"KI Experience\",\n            \"FACEBOOKSHARELINK\":
        \"http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.feefo.com%2FAU%2Fen%2Freviews%2FSeaLink-Kangaroo-Island_Tours%2F%3Fid%3D987195%26servicefeedbackid%3D36844\",\n
        \           \"FEEDBACKID\": 36844,\n            \"HREVIEWDATE\": \"2015-06-08T12:20:51\",\n
        \           \"HREVIEWRATING\": 5,\n            \"LINK\": \"http://www.sealink.com.au/kangaroo-island-tours/1-day-tours/kangaroo-island-highlights-day-tour/\",\n
        \           \"PRODUCTCODE\": \"HTCC\",\n            \"PRODUCTRATING\": \"++\",\n
        \           \"READMOREURL\": \"http://www.feefo.com/AU/en/reviews/SeaLink-Kangaroo-Island_Tours/?id=987195&servicefeedbackid=36844\",\n
        \           \"SERVICERATING\": \"++\",\n            \"SHORTCUSTOMERCOMMENT\":
        \"Service rating : nice driver and guider, view places are also wonderful.<br/>Product
        : nice driver and guider, view places are also wonderful.\"\n        },\n
        \       {\n            \"COUNT\": 2,\n            \"CUSTOMERCOMMENT\": \"Service
        rating : The company was excellent, the guide and driver fantastic and organised<br/>Product
        : It felt a little rushed but only a day tour\",\n            \"DATE\": \"07-Jun-2015\",\n
        \           \"DESCRIPTION[...]
