---
http_interactions:
- request:
    method: get
    uri: http://www.feefo.com/feefo/xmlfeed.jsp?json=true&limit=9&logon=www.sealinktravelgroup.com.au/SeaLink%20KI&vendorref=HTCC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\"FEEDBACKLIST\": {\n    \"FEEDBACK\": [\n        {\n            \"COUNT\":
        1,\n            \"CUSTOMERCOMMENT\": \"A bit long journey but good experience.
        \ A bit disappointed as not Kangaroo saw!\",\n            \"DATE\": \"09-Oct-2014\",\n
        \           \"DESCRIPTION\": \"1 Day Kangaroo Island Experience\",\n            \"FACEBOOKSHARELINK\":
        \"http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.feefo.com%2FAU%2Fen%2Freviews%2FSeaLink-KI_Tours%2F%3Fid%3D987195%26servicefeedbackid%3D349\",\n
        \           \"FEEDBACKID\": 349,\n            \"HREVIEWDATE\": \"2014-10-09T12:57:04\",\n
        \           \"HREVIEWRATING\": 4,\n            \"LINK\": \"http://www.sealink.com.au/kangaroo-island-tours/1-day-tours/kangaroo-island-highlights-day-tour/\",\n
        \           \"PRODUCTCODE\": \"HTCC\",\n            \"PRODUCTRATING\": \"+\",\n
        \           \"READMOREURL\": \"http://www.feefo.com/AU/en/reviews/SeaLink-KI_Tours/?id=987195&productfeedbackid=349\",\n
        \           \"SHORTCUSTOMERCOMMENT\": \"A bit long journey but good experience.
        \ A bit disappointed as not Kangaroo saw!\"\n        },\n        {\n            \"COUNT\":
        2,\n            \"CUSTOMERCOMMENT\": \"Our bus trip was brilliant. Our driver
        was simply terrific, very knowledgeable, affable and relaxed. The sights were
        great but it would be nice to include the Eucalyptus Oil place perhaps?\",\n
        \           \"DATE\": \"10-Sep-2014\",\n            \"DESCRIPTION\": \"1 Day
        Kangaroo[...]
